<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<link rel="stylesheet" href="style.css">
<main class="d-flex">
    <div class="coantainer=fluid row m=0 vh=100 justify-content=center align-items=center">
        <div class="card-shadow w-100">
            <div class="card-body">
                <form action="/login" method="POST">
                    <h3 class="text-center">ESCUELA N32</h3>
                    <h5 class="text-center">Login</h5>
                    
                    <label>Usuario</label>
                    <input type="text" class="form-control mb=3" name="usuario"></input>

                    <label>Contrasena</label>
                    <input type="password" class="form-control mb=3" name="password"></input>
                    <a href="index.html">
                        <button type="submit" class="btn btn-primary w-100">Acceder</button>
                    </a>
                    
                </form>
            </div>
        </div>
    </div>
</main>


